[Unit]
Description=A description for your custom service goes here
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/sbin/uptme-kuma-job.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
