[Unit]
Description=uptime-kuma
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/sbin/uptme-kuma-job.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
